
.myCons h3{
    margin : 0 auto;
    text-align:  center;

}

.myCons form  {
    margin : 30px auto;
}


.myCons form .title-content{
    width: 400px;
    margin : 0  auto;
}

.panel .panel-body{
    padding: 0;
}



.tdWidth{
    width: 15%;
    
    text-align: center
}

.tdwid {
    width: 100%;
}