<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<canvas style="border: 2px solid lightgreen" width="800" height="600"></canvas>
<script src="/static/flappy/js/common/util.js"></script>
<script src="/static/flappy/js/common/loadImage.js"></script>
<script src='/static/flappy/js/roles/sky.js'></script>
<script src="/static/flappy/js/roles/pipe.js"></script>
<script src="/static/flappy/js/roles/land.js"></script>
<script src="/static/flappy/js/roles/bird.js"></script>
<script src="/static/flappy/js/roles/time.js"></script>
<script src="/static/flappy/js/scene/gameScene.js"></script>
<script src="/static/flappy/js/scene/overScene.js"></script>
<script>
    var cvs  = document.querySelector('canvas');
    var ctx = cvs.getContext('2d');

    loadImage({
        bird: '/static/flappy/imgs/birds.png',
        land: '/static/flappy/imgs/land.png',
        pipeDown: '/static/flappy/imgs/pipeDown.png',
        pipeUp: '/static/flappy/imgs/pipeUp.png',
        sky: '/static/flappy/imgs/sky.png'
    },function(m){
        var lastTime,isStop = false;

        var gameStart = new GameScene({ ctx : ctx, img : m });
        var overScene = new OverScene({ctx : ctx});
        gameStart.addBirdDieEvent(function(){
            isStop = true;
        });

        gameStart.addBirdDieEvent(function(){
            overScene.run();
            overScene.bind();
        });

        (function loop(){
            if(isStop){
                return;
            }


            lastTime = lastTime ? lastTime : Date.now();
            var gameTime = Date.now();
            var delayTime = (gameTime - lastTime ) /1000;
            lastTime = gameTime;

            ctx.clearRect( 0, 0, cvs.width, cvs.height );
            ctx.beginPath();
            gameStart.gameRun(delayTime);




            requestAnimationFrame(loop);

        }())

    })

</script>
</body>
</html>