<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<canvas style="border: 2px solid lightgreen" width="800" height="600"></canvas>
<script src="js/common/util.js"></script>
<script src="js/common/loadImage.js"></script>
<script src='js/roles/sky.js'></script>
<script src="js/roles/pipe.js"></script>
<script src="js/roles/land.js"></script>
<script src="js/roles/bird.js"></script>
<script src="js/roles/time.js"></script>
<script>
    var cvs  = document.querySelector('canvas');
    var ctx = cvs.getContext('2d');

    loadImage({
        bird: './imgs/birds.png',
        land: './imgs/land.png',
        pipeDown: './imgs/pipeDown.png',
        pipeUp: './imgs/pipeUp.png',
        sky: './imgs/sky.png'
    },function(m){
        var sky = new Sky({ctx : ctx , img : m.sky});
        var sky1 = new Sky({ctx : ctx , img : m.sky});



        var pipe  = new Pipe({ctx : ctx , imgtop : m.pipeDown, imgbottom : m.pipeUp, TBdistance : 150 , LRdistance : 150 , maxHeight : this.ctx.canvas.height - m.land.height - 50 - 150 , minHeight:50});
        var pipe1 = new Pipe({ctx : ctx , imgtop : m.pipeDown, imgbottom : m.pipeUp, TBdistance : 150 , LRdistance : 150 , maxHeight : this.ctx.canvas.height - m.land.height - 50 - 150 , minHeight:50});
        var pipe2 = new Pipe({ctx : ctx , imgtop : m.pipeDown, imgbottom : m.pipeUp, TBdistance : 150 , LRdistance : 150 , maxHeight : this.ctx.canvas.height - m.land.height - 50 - 150 , minHeight:50});
        var pipe3 = new Pipe({ctx : ctx , imgtop : m.pipeDown, imgbottom : m.pipeUp, TBdistance : 150 , LRdistance : 150 , maxHeight : this.ctx.canvas.height - m.land.height - 50 - 150 , minHeight:50});
        var pipe4 = new Pipe({ctx : ctx , imgtop : m.pipeDown, imgbottom : m.pipeUp, TBdistance : 150 , LRdistance : 150 , maxHeight : this.ctx.canvas.height - m.land.height - 50 - 150 , minHeight:50});
        var pipe5 = new Pipe({ctx : ctx , imgtop : m.pipeDown, imgbottom : m.pipeUp, TBdistance : 150 , LRdistance : 150 , maxHeight : this.ctx.canvas.height - m.land.height - 50 - 150 , minHeight:50});
        var pipe6 = new Pipe({ctx : ctx , imgtop : m.pipeDown, imgbottom : m.pipeUp, TBdistance : 150 , LRdistance : 150 , maxHeight : this.ctx.canvas.height - m.land.height - 50 - 150 , minHeight:50});
        var pipe7 = new Pipe({ctx : ctx , imgtop : m.pipeDown, imgbottom : m.pipeUp, TBdistance : 150 , LRdistance : 150 , maxHeight : this.ctx.canvas.height - m.land.height - 50 - 150 , minHeight:50})



        var land = new Land({ctx : ctx , img : m.land})
        var land1 = new Land({ctx : ctx , img : m.land})
        var land2 = new Land({ctx : ctx , img : m.land})
        var land3 = new Land({ctx : ctx , img : m.land})


        var bird = new Bird({ctx : ctx , img : m.bird, widthFrame : 3 , heightFrame : 1})

        var timer = new Timer({
            ctx : ctx,
            color : 'red'
        });
        var lastTime;
        var timeId = setInterval(function(){

            lastTime = lastTime ? lastTime : Date.now();
            var gameTime = Date.now();
            var delayTime = (gameTime - lastTime ) /1000;
            lastTime = gameTime;
            ctx.clearRect( 0, 0, cvs.width, cvs.height );
            sky.draw();
            sky.update(delayTime);
            sky1.draw();
            sky1.update(delayTime);

            pipe.draw();
            pipe.update(delayTime);
            pipe1.draw();
            pipe1.update(delayTime);
            pipe2.draw();
            pipe2.update(delayTime);
            pipe3.draw();
            pipe3.update(delayTime);
            pipe4.draw();
            pipe4.update(delayTime);
            pipe5.draw();
            pipe5.update(delayTime);
            pipe6.draw();
            pipe6.update(delayTime);
            pipe7.draw();
            pipe7.update(delayTime);

            land.draw();
            land.update(delayTime);
            land1.draw();
            land1.update(delayTime);
            land2.draw();
            land2.update(delayTime);
            land3.draw();
            land3.update(delayTime);

            bird.draw();
            bird.update(delayTime);

            timer.draw();
            timer.update(delayTime);



        },50);
    })

</script>
</body>
</html>